.home-navbar-section {
  padding-top: 22px;
  padding-bottom: 17px;
}

.home-navbar-section .content-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-navbar-section .content-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 45px;
}

.home-navbar-section .navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}

.home-navbar-section .navbar .navbar-nav {
  flex-grow: 1;
  gap: 40px;
}

.custom-nav-link {
  padding: 0px !important;
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}

.custom-nav-link.active {
  color: var(--gray);
  font-weight: 500;
}

.custom-nav-link::before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 2px;
  background: var(--green);
  transform: scaleX(0);
}

.custom-nav-link.active::before {
  transform: scaleX(1);
}

.custom-nav-link:hover {
  color: var(--green);
}

.custom-nav-link.active:hover {
  color: var(--gray);
}

.navbar .auth-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.home-section-a {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--dark-green);
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
}

.home-section-a .content-1 {
  padding-top: 60px;
}

.home-section-a h1 {
  font-family: var(--genos);
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  line-height: 1;
  padding-bottom: 30px;
  width: 100%;
}

.home-section-a p {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.15px;
  line-height: 2.2;
  width: 95%;
  padding-bottom: 30px;
}

.home-section-b {
  padding-top: 120px;
  padding-bottom: 100px;
}

.home-section-b h2 {
  font-family: var(--genos);
  font-weight: 700;
  font-size: 50px;
  color: var(--gray);
  line-height: 1;
  width: 98%;
  padding-bottom: 20px;
}

.home-section-b p {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  letter-spacing: 0.15px;
  line-height: 2.2;
  width: 97%;
  padding-bottom: 20px;
}

.home-section-b p:nth-of-type(2) {
  padding-bottom: 20px;
}

.home-section-b ul {
  list-style: none;
  padding-left: 0px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.home-section-b ul li {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  letter-spacing: 0.15px;
  position: relative;
  padding-left: 33px;
}

.home-section-b ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--green);
}

.home-section-b p:nth-of-type(3) {
  padding-bottom: 0px;
}

.home-footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-green);
}

.home-footer-section .content-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-footer-section .content-2 h5 {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  letter-spacing: 0.15px;
}

.home-footer-section .content-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding-right: 10px;
}

.home-footer-section .social-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--green);
  color: #fff;
  font-size: 23px;
  transition: 0.3s linear;
}

.home-footer-section .social-link:hover {
  background: #fff;
  color: var(--green);
}

.home-copyright-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000;
}

.home-copyright-section p {
  font-family: var(--poppins);
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.15px;
  text-align: center;
}



/*! Mobile */
@media (max-width: 767px) {}

/*! ios */
@media (max-width: 340px) {}

/*! windows */
@media (min-width: 451px) and (max-width: 767px) {}

/*! tab portrait*/
@media (min-width: 768px) and (max-width: 991px) {
  /*!Keep this*/
}

/*! tab landscape*/
@media (min-width: 992px) and (max-width: 1199px) {}

/*! 1280 resolution */
@media (min-width: 1280px) and (max-width: 1365px) {}

/*! 1366 resolution */
@media (min-width: 1366px) and (max-width: 1399px) {
  .home-section-a img {
    width: 95%;
  }

  .home-section-b img {
    width: 95%;
  }

  .home-footer-section .content-1 img {
    width: 85%;
  }
}

/*! 1440 resolution */
@media (min-width: 1440px) and (max-width: 1599px) {
  /*!Keep this*/
}

/*! Large View*/
@media (min-width: 1600px) {

  .custom-nav-link {
    font-size: 18px;
  }

  .home-section-a h1 {
    font-size: 60px;
  }

  .home-section-a p {
    font-size: 18px;
    width: 78%;
  }

  .home-section-b h2 {
    font-size: 60px;
    width: 90%;
    padding-bottom: 30px;
  }

  .home-section-b p {
    font-size: 18px;
    width: 90%;
    padding-bottom: 30px;
  }

  .home-section-b p:nth-of-type(2) {
    padding-bottom: 25px;
  }

  .home-section-b ul {
    padding-bottom: 40px;
    gap: 18px;
  }

  .home-section-b ul li {
    font-size: 18px;
  }

  .home-footer-section .content-2 h5 {
    font-size: 40px;
  }

  .home-footer-section .content-3 {
    padding-right: 25px;
  }
}

@media (min-width: 1920px) {
  /*!Keep this*/
}