.main-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(71, 71, 71, 0.2);
}

.main-nav .content-1{
  display: flex;
  align-items: center;
}

.main-nav .navbar {
  width: 100%;
}

.main-nav .navbar-nav {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.main-nav .profile-btn {
  text-decoration: none;
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  background: var(--green);
  color: #fff;
}

.main-nav .dropdown .dropdown-menu {
  margin-top: 6px;
  border-radius: 12px;
  min-width: 240px;
  width: auto;
  border: none;
  filter: drop-shadow(0px 2px 4px rgba(51, 51, 51, 0.2));
}

.main-nav .dropdown .dropdown-item:active{
  background: var(--green);
}

.main-nav .dropdown-menu .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.main-nav .profile-icon {
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--green);
  color: #fff;
  margin-bottom: 10px;
}

.main-nav .profile h5{
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 600;
  color: var(--gray);
}

.main-nav .profile h6{
  font-family: var(--poppins);
  font-size: 11px;
  font-weight: 400;
  color: #7c7c7c;
}